{
  "extends": [
    "google"
  ],
  "plugins": [
    "babel"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "complexity": [
      "error",
      {
        "max": 7
      }
    ],
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-invalid-this": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}